<div class="p-5 my-auto">
  <h1 class="text-6xl font-bold">Welcome to Chat app</h1>
  <% if user_signed_in? %>
    <%= link_to "Find a chat", chat_path %>
  <% else %>
    <%= link_to "Login", new_user_session_path  %> |
    <%= link_to "Sign Up", new_user_registration_path  %> 
  <% end %>
</div>