<div class="my-auto flex flex-col items-center gap-5 p-5 bg-gray-50 rounded-md border-2 shadow-sm text-center">
  <h1 class="text-6xl font-bold">500</h1>
  <p>Something went wrong.</p>
  <%= link_to "Take me back", root_path, class: "cursor-pointer w-full rounded border-2 border-gray-800 bg-gray-800 text-gray-50 uppercase tracking-widest py-1 hover:bg-gray-50 hover:text-gray-800" %>
</div>